html,
body,
#root {
  height: 100%;
}

.App {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  min-height: 100%;

}

.App-background {
  height: 1000px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: 0.9;
  position: absolute;
  width: 100%;
}

.App-header {
  background-color: white;
  /* min-height: 100vh; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  font-family:fantasy;
  color: #795f5f;
  margin-top: 100px;
  margin-bottom: 80px;
  width: 100%;
  opacity: 0.9;
}

.App .card {
  /* height: 700px; */
  width:600px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 10px 10px 0 #795f5f;

}

.App-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

label.radio {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}

label.radio+.radio {
  margin-left: 0;
}

label.radio input {
  margin-right: 40px;
}